
/* universal css */
*{
    margin-bottom: 0px;
    margin-right: 0px;
}

/* navigation related css */

header>nav>div>img {
    height: 170px;
    margin-left: 20px;
}
.logo{
    
}


nav li {
    list-style: none;
    
    margin-right: 30px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
}

nav ul {
    display: flex;
    
}